<%= form_with(model: service) do |form| %>
  <% if service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
        <% service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3 row">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title%>
  </div>

  <div class="mb-3 row">
    <%= form.label :main_image_url %>
    <%= form.text_field :main_image_url %>
  </div>

  <div class="mb-3 row">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="actions d-flex flex-row-reverse">
    <%= form.submit %>
  </div>
<% end %>
