<div class="container">
  <%= form_for(@service) do |form| %>
    <div class="mb-3 row">
      <%= form.label :title, class: "form-label" %>
      <%= form.text_field :title, class: "form-control", disabled: true %>
    </div>

    <div class="mb-3 row">
      <%= form.label :main_image_url %>
      <%= form.text_field :main_image_url, class: "form-control", disabled: true %>
    </div>

    <div class="mb-3 row">
      <%= form.label :description %>
      <%= form.text_area :description, class: "form-control", disabled: true %>
    </div>


  <% end %>
  <%= link_to 'Edit', edit_service_path(@service) %> |
  <%= link_to 'Back', services_path %>

</div>
