<!-- Navbar Start -->
<div class=" container-fluid sticky-top bg-light bg-light-radial shadow-sm px-5 pe-lg-0 py-4">
  <nav  class="navbar navbar-expand-lg bg-dark bg-light-radial navbar-light py-3 py-lg-0">
    <a href=" <%= root_path %>" class="navbar-brand">
      <img height="80" class="m-0 display-4" src=<%=asset_path("logo.png")%> />
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

      <div class="navbar-nav  ms-auto py-0" style="padding-right: 20px">
        <% if current_user %>
        <a href="<%= pages_dashboard_path %>" class="nav-item nav-link btn btn-success" style="border-radius: 40px;">Dashboard</a>
        <% end %>
        <a href="<%= root_path %>" class="nav-item nav-link  <%= 'active' if current_page?(root_path) %> ">Home</a>
        <a href="<%= pages_about_path %>" class="nav-item nav-link ">About</a>

        <!-- <a href="#" class="nav-item nav-link">About</a> -->
        <a href=" <%= pages_services_path %>" class="nav-item nav-link <%= 'active' if current_page?(services_path) %>">Services</a>
        <a href=" <%= pages_projects_path %>" class="nav-item nav-link <%= 'active' if current_page?(works_path) %>">Projects</a>
        <% if controller.action_name == "homepage"%>
        <a href="#contact_form" class="nav-item nav-link ">Contact</a>
        <% else %>
        <a href="<%= pages_contactpage_path %>" class="nav-item nav-link <%= 'active' if current_page?(pages_contactpage_path) %>">Contact</a>

        <% end %>


        <% if current_user %>
        <%= link_to "logout",  destroy_user_session_path, method: :delete, class: "nav-item nav-link #{'active' if current_page?(destroy_user_session_path) }" %>
        <% else %>
        <%= link_to "<i class='fa fa-user text-primary'></i> login".html_safe,  new_user_session_path, class: "nav-item nav-link #{'active' if current_page?(new_user_session_path) }" %>
        <% end %>
      </div>


    </div>
  </nav>

</div>
<style media="screen">



  .nav-link{
    text-transform: uppercase
  }



</style>
