
<header>
  <div class=" container carousel-cap ">
    <div class="align-items-left justify-content-center">
      <h1 class="display-2 text-uppercase text-white">
        Exceptional Home Remodeling & Renovations
      </h1>
      <a class="btn btn-primary py-md-3 px-md-5 mt-2 pb-2" href="#contact_form">Get a Free Estimate</a>
    </div>
  </div>
</header>

<aside class="figures mb-3">
  <div class="container">
    <div class="row justify-content-center stats">
      <div class="col-12 col-lg-10 figure centered pb-3">
        <h2>JRÉNO's team is professional at residential renovation. We have enough expertise to provide high quality services, competitive prices, and excellent customer service</h2>
      </div>
    </div>
  </div>
</aside>

<div class="container pt-3">
  <div class="row g-5">
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
      <div class="about-img">
        <img  class="img-fluid about-img" src= "<%= asset_path('kitchen-1336160.jpg') %>" alt="">
      </div>
    </div>
    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeIn;">
      <h4 class="section-title">About Us</h4>
      <h1 class="display-5 mb-4">A Creative Construction Company For Your Dream Home Project</h1>

      <p>
        Wether you are a person OR company we have the power to carry out your most ambitious projects. JRÉNO's Team take initial planning in charge, set timelines for your project, and handle cost management whilst ensuring compliance with construction regulations at all times.
      </p>
      <p class="mb-4">
        Therefore, we supervise subcontractors and suppliers to make sure the project meets our customer’s expectactions.
      </p>
    </div>
  </div>
</div>

<div class="container mt-4 pt-4">
  <div class="row g-5">
    <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
      <h4 class="section-title">Why Choose Us!</h4>
      <h1 class="display-5 mb-4">Why You Should Trust Us? Learn More About Us!</h1>
      <div class="row g-4">
        <div class="col-12">
          <div class="d-flex align-items-start">
            <img class="flex-shrink-0" src="https://technext.github.io/arkitektur/img/icons/icon-2.png" alt="Icon">
            <div class="ms-4">
              <h3>Free, At Home Consultations</h3>
              <p class="mb-0">

                When you contact us, we’ll call you within 24 hours to schedule your appointment for a time that is convenient for you.
              </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex align-items-start">
            <img class="flex-shrink-0" src="https://technext.github.io/arkitektur/img/icons/icon-3.png" alt="Icon">
            <div class="ms-4">
              <h3>Competitive Pricing</h3>
              <p class="mb-0">
                We provide quality work for your hard earned cash
              </p>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="d-flex align-items-start">
            <img class="flex-shrink-0" src="https://technext.github.io/arkitektur/img/icons/icon-4.png" alt="Icon">
            <div class="ms-4">
              <h3>Professional Workmanship</h3>
              <p class="mb-0">
                From start to finish a professional renovator will help you put it all together and turn your ideas into great results</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <div class="about-img-2">
          <br><br>
          <img class="img-fluid" src="<%=asset_path("architecture-5339245.jpg")  %>" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="container mt-5 mb-5">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
      <h4 class="section-title">Our Services</h4>
      <h1 class="display-5  mb-4">
        We Provide <span class="text-primary">The Best</span> Construction
        Services
      </h1>
    </div>
    <div class="">
      <%= render "services/partials/list" %>
    </div>
  </div>
  <!-- Services End -->

  <!-- Testimonial End -->
  <div class="container mt-5 mb-5">
    <%= render "pages/home_page/testimonial" %>
  </div>

  <div class="container" id="contact_form">
    <div class="row g-5">
      <%= render "pages/partials/contact" %>
    </div>
  </div>


  <style media="screen">
    header {
      min-height: 900px;
      background-size: 100% 100%;
      background-image:  url(<%= asset_path("background2.jpg")%>);
      background-color: rgb(0, 0, 0);

    }

    .hidden-spacer {
      height: 56px
    }

    aside.figures {
      background: #f4f5f0
    }

    aside.figures .container {
      min-height: 270px;
      padding-bottom: 80px;
      padding-top: 63px;
    }

    .figure {
      position: relative;
    }
    .figure span.stat {
      font-family: Playfair Display,serif;
      font-size: 2.2rem;
      line-height: 1em;
      padding-bottom: 15px;
    }

    .figure span {
      color: #0f3557;
      display: block;
    }

    .figure.centered span, .figure.inline-figure span {
      text-align: center;
    }

    .stats {
      text-align: center;
    }
    .grid {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .about-img{
      position: relative;
      height: 100%;
      min-height: 300px;
    }
    .about-img-2{
      position: relative;
      min-height: 500px;
    }



    .h4, h4 {
      font-size: 1.5rem;
    }
    .display-2 {
      font-size: 4.5rem;
    }
    .display-2 {
      font-size: calc(1.575rem + 3.9vw);
      font-weight: 700;
      line-height: 1.2;
    }


    .section-title {
      color: #B78D65;
      font-weight: 600;
      letter-spacing: 5px;
      text-transform: uppercase;
    }

    .carousel-cap {
      position: absolute;
      bottom: 3.25rem;
      left: 8%;
      padding-bottom: 1.25rem;
      color: #fff;
    }

    .bg-white {
      background-color: #fff !important;
    }

    .service-item .service-icon {
      margin-top: -50px;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100px;
    }

    .testimonial-carousel .owl-dots {
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 30px;
    }


    .testimonial-carousel .owl-dots .owl-dot {

      position: relative;
      width: 60px;
      height: 60px;
      margin: 0 5px;
      transition: .5s;

    }

    .testimonial-carousel .owl-dots .owl-dot.active {
      width: 100px;
      height: 100px;
    }

    .testimonial-carousel {
      display: flex !important;
      flex-direction: column-reverse;
      max-width: 700px;
      margin: 0 auto;
    }


    .card {
      border: none
    }

    .user-content p {
      margin-top: 5px;
      font-size: 12px
    }

    .ratings i {
      color: blue
    }
    .text-white{

    }
  </style>

  <script type="text/javascript">
    (function ($) {
      "use strict";


      // Header carousel
      $(".header-carousel").owlCarousel({
        autoplay: true,
        smartSpeed: 1500,
        loop: true,
        nav: false,
        dots: true,
        items: 1,
        dotsData: true,
      });


      // Testimonials carousel
      $('.testimonial-carousel').owlCarousel({
        autoplay: true,
        smartSpeed: 1000,
        loop: true,
        nav: false,
        dots: true,
        items: 1,
        dotsData: true,
      });


    })(jQuery);



  </script>
