
<div class="bg-light rounded-3" style="background-image: url(<%= asset_path('renovation_main.jpeg')%>); background-repeat: no-repeat; height: 60vh; opacity: 0.95; z-index: -9">
  <div class="container" style="background-color: rgba(245, 245, 245, 0.75); height: 90% ; display: flex; align-items: center">
    <div class="p-5 text-center">
      <h1 class="p-poppins" style="font-weight: bold " >Renovation</h1>
      <p class="p-poppins-200 mt-4" style="font-size: 17px" >
        Depending on the desired features, your new interior space must have an inviting atmosphere and perfectly fit your lifestyle.
        The JRENO team supports you throughout the planning of the space, the colors and the choice of materials to create a space that perfectly meets your needs and tastes.
      </p>
    </div>

  </div>
</div>

<br><br><br>

<%= render 'pages/partials/renovation_item',
path: 'renovation_basement.jpeg',
title: 'Basement Renovation',
order_no: '01',
description: ' Whether your basement renovation goal is a work-from-home office or a spare bedroom,
realizing your vision will take time, money, and expertise.
It’s tempting to take the DIY route for your basement renovation.
But in the end, enlisting professional help decreases headaches and increases the quality of your finished product.'
%>

<%= render 'pages/partials/renovation_item',
path: 'kitchen_renovation.jpg',
title: 'Kitchen Renovation',
order_no: '02',
description: ' Your kitchen is the heart of your home.
Whether you’re looking to improve the future resale value of your home or design a luxury kitchen
that’ll make meal preparation a dream, your investment in a residential kitchen renovation will yield substantial rewards.'
%>

<%= render 'pages/partials/renovation_item',
path: 'bathroomRenovation_renvation.jpg',
title: 'Bathroom renovation',
order_no: '03',
description: '  Whether you want to turn your small bathroom into a personal oasis or
perform a bathroom restoration on an investment property, you should develop a watertight plan before you start your project.'
%>

<%= render 'pages/partials/renovation_item',
path: 'otherRenovation_renovation.jpg',
title: 'Other Renovation',
order_no: '04',
description: '    Whether you’re looking to increase the property value of your home ahead
of a sale or closing on a house you can’t wait to make your own, chances
are there’s a renovation or remodeling project in your future'
%>


<style media="screen">

  @media (min-width: 1100px) {
    .container{
      max-width: 970px;
    }
  }
  .line-between{
    padding-bottom: 50px;
    border-bottom: 5px solid #7a0000;
    width: 50%;
    margin: auto;
    margin-bottom: 70px;
  }


</style>
