<div class="row text-center" style="padding-top: 100px;">
  <h1 style="font-size: 65px" class="p-bold">Our Services</h1>
  <p>Let us help you make your dreams a reality.</p>
</div>
<br><br>

<div class="row">
  <div class="col-lg-4 col-md-6">
    <a href=" <%=  pages_construction_path %>">
      <div class="service-item d-flex flex-column align-items-center text-center">
        <img class="mb-3 img-fluid" src="<%= asset_path('service_construction.jpg')%>" alt="" style="width: 90%" /> <br>
        <div class="px-4 pb-4">
          <h4 class="text-uppercase mb-3 p-poppins" style="font-weight: bold">
            CONSTRUCTION
          </h4>
        </div>
      </div>
    </a>
  </div>


  <div class="col-lg-4 col-md-6">
    <a href="<%= pages_renovation_path %>">
      <div class="service-item d-flex flex-column align-items-center text-center">
        <img class="mb-3 img-fluid" src="<%= asset_path('service_renovation.jpg')%>" alt="" style="width: 90%" /> <br>
        <div class="px-4 pb-4">
          <h4 class="text-uppercase mb-3" style="font-weight: bold">
            RENOVATION
          </h4>
        </div>
      </div>
    </a>
  </div>

  <div class="col-lg-4 col-md-6">
    <a href=" <%= pages_maintenance_path  %>">
      <div class="service-item d-flex flex-column align-items-center text-center">
        <img class="mb-3 img-fluid image_comp" src="<%= asset_path('service_maintenance.jpeg')%>" alt="" style="width: 90%" />
        <div class="px-4 pb-4">
          <h4 class="text-uppercase mb-3 p-poppins" style="font-weight: bold">
            MAINTENANCE
          </h4>
        </div>
      </div>
    </a>

  </div>

</div>
<div style="padding-bottom: 350px"></div>
<%= render 'pages/partials/get_estimate_footer' %>

<style media="screen">
  img:hover  {
    opacity: 0.6;
    filter: alpha(opacity=40);
  }

  .img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    filter: alpha(opacity=100);
  }

  a {
    text-decoration: none;
    color: inherit;
  }

</style>
