<div class="bg-footer text-body pd-extra">
  <div class="row">

    <div class="font-4 col col-xs-12" >
      <div style="padding-left: 180px; padding-right: 220px; font-weight: bold">
        <h1 style="color: white; line-height: 1.4em; font-weight: bold" >Let's Discuss Your Next Project</h1>
        <p class="mb-4 pt-4 pr-4 col-8">
          Fill out the form, or call us to set up a free in-home consultation.
        </p>
        <span style="color: white">Service Areas </span><br>

        <p class="mb-4 pr-4" style="line-height: 2.8;">
          Montreal Island, South Shore, North Sh
          966-1077 Rue Saint Mathieu, Montreal, QC, H3H 2S4
          info@jreno.com <br>

          438-488-4100
        </p>
      </div>
    </div>

    <div class="col col-xs-12" style= "padding-right: 200px">
      <%= form_for @contact, remote: true do |f| %>

      <div class="row g-3 box">
        <div class="inputBox col-12 col-sm-6">
          <%= f.text_field  :name, required: true, class: "form-control", placeholder: "Your Name", style: "height: 55px;" %>
        </div>

        <div class="inputBox col-12 col-sm-6">
          <%= f.text_field  :phone_number, class: "form-control", placeholder: "Mobile", style: "height: 55px;" %>
        </div>

        <div class="inputBox col-12 col-sm-12">
          <%= f.text_field :email, required: true, class: "contact-form-text-area form-control", placeholder: "Email", style: "height: 55px;" %>
        </div>
        <div class="inputBox col-12">
          <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "form-control",
                 placeholder: "Please write briefly about your project and prefered date and time to be contacted", rows: 5%><br>
        </div>
        <div class="col-12">
          <%= f.submit 'Send Message', class: 'btn btn-primary w-100 py-3', style: "color: black, background: white" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<style media="screen">
  .pd-extra{
    padding-top: 150px;
    padding-bottom: 150px;
  }
  .font-4{
      font-family: 'Poppins', sans-serif;
  }

  .box {
  top: 50%;
  left: 50%;
  padding: 2.5rem;
}
 #contact_message {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}

.box .inputBox input  {
  width: 100%;
  padding: 0.625rem 0;
  font-size: 1rem;
  color: #fff;
  letter-spacing: 0.062rem;
  margin-bottom: 1.875rem;
  border: none;
  border-bottom: 0.065rem solid #fff;
  outline: none;
  background: transparent;
}


.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label,



.box input[type="submit"]:hover {
  background-color: #1cb1f5;
}



</style>
