<div class="row">
  <div class="col-lg-4 col-xs-12" >
    <div class="p-poppins"; font-weight: 100;">
      <h1 style="line-height: 1.4em; font-weight: bold" >Let's Discuss Your Next Project</h1>
      <p class="mb-4 pt-4 pr-4 col-8">
        Fill out the form, or call us to set up a free in-home consultation.
      </p>
      <span style="font-weight: bold;"> <h5> Service Areas </h5> </span>

      <p class="mb-4 pr-4" style="line-height: 2.8;">
        Montreal Island, South Shore <br><br>
        966-1077 Rue Saint Mathieu, Montreal, QC, H3H 2S4
        info@jreno.com <br>

        438-488-4100
      </p>
    </div>
  </div>
  <div class="col-lg-3">

  </div>

  <div class="col col-xs-12" >
    <%= form_for @contact, remote: true do |f| %>

    <div class="row g-3 box">
      <div class="inputBox col-12 col-sm-6">
        <%= f.text_field  :name, required: true, class: "form-control", placeholder: "Your Name", style: "height: 55px;" %>
      </div>

      <div class="inputBox col-12 col-sm-6">
        <%= f.text_field  :phone_number, class: "form-control", placeholder: "Mobile", style: "height: 55px;" %>
      </div>

      <div class="inputBox col-12 col-sm-12">
        <%= f.text_field :email, required: true, class: "contact-form-text-area form-control", placeholder: "Email", style: "height: 55px;" %>
      </div>
      <div class="inputBox col-12">
        <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "form-control",
        placeholder: "Please write briefly about your project and prefered date and time to be contacted", rows: 10%><br>
      </div>
      <div class="col-12">
        <%= f.submit 'Send Message', class: 'btn btn-dark w-100'%>
      </div>
    </div>
    <% end %>
  </div>
</div>
<br><br><br><br>

<div class="embed-responsive embed-responsive-4by3">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2796.9022431798894!2d-73.57777598403517!3d45.49191327910128!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4cc91a6ed9dc3ef5%3A0x8baf06980c4523c5!2s1077%20St%20Mathieu%20St%2C%20Montreal%2C%20QC%20H3H%202S8%2C%20Canada!5e0!3m2!1sen!2seg!4v1664108014520!5m2!1sen!2seg" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
