<%= render 'pictures/partials/filters' %>
<hr>
<% if @pictures.any? %>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @pictures.each do |picture| %>
    <div class="col">
      <div class="card card-size-380">
        <div class="card-image-wrapper">
          <img src="<%= picture.main_image.attachment && picture.main_image.attachment.url %>" class="card-img-top img-fluid" alt=" <%= picture.title %>">
        </div>
        <div class="card-body card-body-height-210">
          <%= generate_badge(picture.project_type) %>
          <h5 class="card-title"> <%= picture&.title.humanize.truncate(50)  %></h5>
          <p class="card-text"> <%= picture.description && picture.description.truncate(110) %></p>
          <ul class="list-inline m-0 text-center" style="bottom: 1px; position: absolute" >
            <li class="list-inline-item p-2">
              <%= link_to "<i class='fa fa-eye'></i>".html_safe, picture_path(picture), title: "View", class: "btn btn-primary btn-sm rounded-0" %>

            </li>
            <li class="list-inline-item p-2">
              <%= link_to "<i class='fa fa-edit'></i>".html_safe, edit_picture_path(picture), title: "Edit", class: "btn btn-success btn-sm rounded-0" %>
            </li>
            <li class="list-inline-item p-2">

              <%= link_to "<i class='fa fa-trash'></i>".html_safe, picture_path(picture), method: :delete,   data: {:confirm => 'Are you sure?'}, class: "btn btn-danger btn-sm rounded-0" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% else %>

  <%= render 'pictures/partials/empty_state' %>
<% end %>
